Content/** filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text
windows/Engine/** filter=lfs diff=lfs merge=lfs -text
windows/TripleTriad/Binaries/** filter=lfs diff=lfs merge=lfs -text
windows/TripleTriad/Content/** filter=lfs diff=lfs merge=lfs -text
windows/TripleTriad/Saved/** filter=lfs diff=lfs merge=lfs -text